*{
    box-sizing: border-box;
}

body{
    padding: 0;
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    margin: 0;
    background-color: #000000;

}

a{
    color: rgb(230, 230, 230);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px 15px;
}

a.et-p:link{
    color:rgb(7, 116, 130) !important;
    font-size: 10 !important;
}

.container{
    max-width: auto;
    margin: auto;
    justify-content: space-between;  
    background-color: #000000;
}

header .logo{
    margin: 0;   
    padding: 5px 5px;
    color: rgb(230, 230, 230);
    font-size: 1.4rem;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav{
    margin-right: 35px;
    justify-content: space-between;
    margin-left: 10px;
}

.cajas{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    height: auto;
    min-height: 360px; 
    overflow: auto;
    
}

.pod-h2{
    width: 55%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-justify: inter-word;
    color: rgb(230, 230, 230);
    margin: auto;
    margin-top: -50px;
    font-size: 35px;
}

.pod-h3{
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-justify: inter-word;
    color: rgb(230, 230, 230);
    margin: auto;
    margin-top: 18px;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
}

.center{
    padding: -50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200;
    padding-bottom: 50px;
  }

.buscar {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.et-a{
    color: rgb(230, 230, 230);
}

.et-a:hover{
    color: rgb(255, 255, 255);
}

.resp-grid{
    display: flex;

}

.d-flex {
    background-color: rgb(20, 20, 20);
    justify-content: center;
    text-align: center;
    width: 900px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border-color: rgb(41, 90, 176);
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 5px;

}

.resp-grid-container{
    background-color: rgb(20, 20, 20);
    width: 65%;
    margin: 10px auto;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(41, 90, 176);
    border-width: 2px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 10px;
}

.et-p{
    color: rgb(230, 230, 230);
    margin:0px 10px;
}


@media (max-width: 820px){
    .pod-h2{
        width: 90%;
    }

    .pod-h3{
        width: 90%;
    }
    
}